*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;


}

.main{
    width: 30% ;
    margin-left: auto;
    margin-right: auto;

}

p{
    margin-top: 15px;
    line-height: 1.5    ;

}

p::selection {
 
    background-color: blue;
    color: aqua;


}
.p1::first-letter{
    color: blue;
    font-weight: 800;
    font-size: 2rem;
    font-weight: 2rem;
    float: left;
}


.p2::selection{
    color: pink;
    background-color: red;
    


}
.p2{
    text-indent: 15px;
    font-size: 100%;
    color: aqua;
    background-color: pink;
    
}


h1{
    color: darkgreen;
    background-color: chocolate;
     font-size: 3rem;
     background: linear-gradient(to right, red, white );
    margin: 15px 0 15px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-variant: small-caps;
}

